
aside, article, section, header, footer, nav {
	display: block;
}
/* reset browser defaults */
div, h1, h2, h3, p, img ,ul,li,a,input,form{
	margin: 0;
	padding: 0;
}
html {
	margin: 0;
	padding: 0;
	background: rgb(223, 221, 243);/*  */
	}

body {
	margin:0 auto;
	padding: 0 0 25px 0;
	font: 100% Cantarell,Arial,"Times New Roman" ; /* use Google font as main *//**/
   	width:100%;
   	max-width:1280px;
   	min-width:800px;
}
header{
	background: rgb(100, 98, 102);
	padding-top: 1px;
	overflow: hidden;
	margin-bottom: 0;/**/
	height: 165px;
}
header h1,.head1 a,.head1 a:hover,.head1 a:active,.head1 a:visited{
	font-size: 3.0em;
	font-weight: bold;
	text-transform: uppercase;
	line-height: 165px;
	margin-right: .25em; /* 8px */
	float: left;
	padding-left: 95px;
	background: url(imgs/upc_logo.png) no-repeat left center;
	text-decoration:none;
	color: #fff;
	
}

header h2,.head2{
	font-style: italic;
	font-weight:normal;
	font-size: 1.3em;
	color: #fff;
	float: left;
	text-transform: lowercase;
	letter-spacing:.05em;
	line-height: 165px;
}

.mobileinfo{
	position:absolute;
	visibility:hidden;
}
/*========================= main navigation ==========================*/
.accessaid{                              /* ==== screen reader accessability aid ==== */
	position:absolute;
	left:-9999px;
}
nav{position:relative;
	height:100px;
    background:rgb(237, 228, 214);/**/
   	overflow:hidden;
   	padding-left:10px;/**/
   	text-transform:capitalize;
}
#menu {width:960px;}
li#howto{position:relative;}  /*----the parent for the submenu ----*/

nav ul#menu li{
	display:inline;
	list-style-type: none;
	margin-right: 28.5px;
	font-size: 1em;
	text-align: center;
	z-index: 1;
	}
	
nav ul li a{
	text-decoration:none;
	color: rgb(76, 67, 65);
}

nav ul li a:hover,nav ul li a:focus{
	color: rgb(219,126,64);
	text-decoration:underline;
}

nav ul li.selected  a{
	color: rgb(80, 62, 123);
	cursor: default;
	text-decoration:underline;
}


.social a.fb{
	position:absolute;
	top:2.95em;
	left:.6em;
	text-indent: -9999px;
	width:24px;
	background-image:url(imgs/social2.png);
	background-position:0 0;
}
.social a.tw{
	position:absolute;
	top:2.95em;
	left:2.35em;
	text-indent: -9999px;
	width:24px;
	background-image:url(imgs/social2.png);
	background-position:48px 0;
}
.social a.ln{
	position:absolute;
	top:2.95em;
	left:4em;
	text-indent: -9999px;
	width:24px;
	background-image:url(imgs/social2.png);
	background-position:25px 0;
}
/*======================== submenu ===========================*/
ul.submenu{
	display:block;       
	position:absolute; /*    parent - the list item   */ 
	left:9999px;       /* hide submenu by indenting far off screen*/
	top:21px;
	width:170px;
	margin:0;
	z-index:2;
}
.submenu li{
	float:left;
}
.submenu li a{
	line-height:0.35em;
	text-align:left;
	width:100%;
	text-decoration:none;
	text-transform:none;
}
.submenu li:first-child a{
	margin-top:10px;
	padding-top:5px;
}/**/

li#howto:hover > ul,.submenu:hover , .submenu:focus ,li#howto:focus > ul {    /*show submenu on hover*/
	left:0;
}

li#howto ul.submenu li a{
	text-decoration:none;
	color: rgb(76, 67, 65);
}
li#howto ul.submenu li a:hover ,li#howto ul.submenu li a:focus{
	color: rgb(219,126,64);
	text-decoration:underline;
	cursor:pointer;
}
li#howto ul.submenu li.selected a{
	color: rgb(80, 62, 123);
	cursor: default;
	text-decoration:underline;
}	
li#howto a#special:hover ,li#howto a#special:focus{    /* when in submenu,this link appear as active on hover*/
	cursor:pointer;
	color: rgb(219,126,64);
	text-decoration:underline;
}
/*======================== breadcrumbs =================================*/
ul#breadcrumbs{
	position:absolute;
	top:1.5em;
	left:.75em;
	margin:58px 0 0 0;
	font-size:0.85em;
	letter-spacing: 0.075em;
	text-transform:none;
	color: rgb(76, 67, 65);
	
}
ul#breadcrumbs li{
	display: block;
	float:left;
	
}
ul#breadcrumbs li.first a{
	display:block;
	height:16px;
	margin-right:5px;
	
}
ul#breadcrumbs li.first a:hover , ul#breadcrumbs li.first a:focus{
	color: rgb(219,126,64);
} 
ul#breadcrumbs li a{
	margin-right:5px;
	text-decoration:underline;
}         
/* =========================== home page styles ========================= */
.banner{
	width:100%;
	height: 400px;
	margin:0;
	padding:0;
	background:rgb(255,255,255) url(imgs/1280w.jpg);
}

.banner h2{
	display:block;
	float:left;
	margin:0;
	padding:10px 0 5px 18px;
	width:55%;
	color:rgb(223, 221, 243);
	text-transform:uppercase;
}
.orange{
	color:rgb(219,126,64);
}
.banner p{
	margin:0;
	padding:5px 1%;
	display:block;
	float:right;
	width: 40%;
	height: 390px;
	font-size: 0.9em;
	line-height: 1.9;
	color: rgb(255,255,255);
	background: rgba(123, 121, 143, .8);
}
/*======================== 2 column layout ==============================*/
   /*============== left column ================*/
.left, .right,#sitemap,.sreport{
	float:left;
	padding-left:2.5%;
	background:none;
	color:rgb(80, 85, 95);
	line-height: 1.75em;
}
.left{
	width:60.6%;/*width:55.6%;*/
}
.entry img.first-img{
	margin-bottom:1em;
}
.entry img{
	width:90%;
}
.entry p.last{
	margin-bottom:1em;
}
.entry abbr{
	cursor: help;
}
.left h1,#sitemap h1,.sreport h1{font-size:1.65em;}

.left p{
	text-indent:1em;
	padding:0.5em 0;
}
.left p{
	line-height: 1.6em;
}
	/*============== right column ================*/
.right{
  width:34.4%;/*width:39.4%;*/
		
}
.right ul{
	list-style:none;
	margin-bottom: 10px;
}
.pc-config li ul{
	text-indent:1em;
}
.pc-config li a img{
	width:80%;
}

   /*============== both columns ================*/
.right a,.left a{
	text-decoration:none;
	color: rgb(20, 20, 25);
}
.right ul a:hover,.right ul a:focus,.left a:hover,.left a:focus{
	color: rgb(219,126,64);
	text-decoration:underline;
}
.left h1,.right h2,#sitemap h1,.sreport h1{
	padding:10px 0;
	text-transform:uppercase;
}

/*====================== feedback page styles ===============================*/
section#form_fields{
	overflow:hidden;
	padding:5px 0;
	
}
input{
	padding:0 3px;
}
section#form_fields h1,section#form_fields h2{
	padding-left:5px;
	line-height: 1.7em;
	color:rgb(80, 85, 95);
	text-align:center;
}
section#form_fields h1{
	text-transform:uppercase;
}
section#form_fields h2{
	font-style: italic;
}
legend{
	width:230px;
	margin:5px 0;
	padding:5px 0 5px 10px;
	text-align:left;
	text-transform:uppercase;
	background:rgb(123, 121, 143);
	color:rgb(255, 255, 255);
	border-radius:10px 0;
}
label{
	font-size:.95em;
	font-weight:500;
	color:rgb(80, 85, 95);
}
fieldset{
	border:none;
}
.red{
	color:rgb(250,50,50);
}
fieldset#personal_info{
	float:left;
	width:43%;
	padding:0 10px;
}
.personal{
	list-style: none;
	width:100%;
}
.personal li{
	text-align: left;
	line-height: 1.75em;
}

fieldset#opinion{
	float:right;
	width:50%;
	padding:0 10px 5px 10px;
}
fieldset#opinion label{
	line-height: 1.75em;
}
textarea{
	width:95%;
	border-radius:10px 0;
}
input{
	border-radius:10px 0;
}

#buttons{
	clear:both;
	width:300px;
	margin:0 auto;
}
#buttons input{
	padding:0 5px;
}
/*======================= sitemap ============================*/
#sitemap{
	padding:0 20px 20px 20px;
}
#sitemap ul{
	margin-left:20px;
}
#sitemap ul li ul{
	padding-left:40px;
}
#sitemap ul li{
	list-style-type: square;
}
#sitemap ul li a{
	color: rgb(76, 67, 65);
}
#sitemap ul li a:hover,#sitemap ul li a:focus{
	color: rgb(219,126,64);
}
.violet{
	color:rgb(80, 62, 123);
}
/*======================= footer styles ============================*/
footer{
	clear:both;
	overflow:auto;
	background: rgb(100, 98, 102);
	color: rgb(255, 255, 255);
		
}
footer #footnav{
	overflow:auto;
	width:290px;                 /*  width fixed to contain larger fallback fonts like Arial*/
	margin:5px auto;
	background:rgb(237, 228, 214); /*rgb(0,0,0);*/
	border-radius:20px 0 20px 0;
}
footer ul{
	float:left;
	list-style:none;
	padding:5px 0 5px 10px;
	font-size:0.75em;
	
}

footer ul li{
	line-height: 1.7em;
}
footer ul li a{
	text-decoration:none;
	color: rgb(76, 67, 65);
}
footer ul li a:hover,nav ul li a:focus{
	color: rgb(219,126,64);
	text-decoration:underline;
}
footer p{
	clear:both;
	text-align: center;
	
}
/*=========================================================================*/
/*============================   paypal  ==============================*/
/*=========================================================================*/
.paypal{width:200px;margin:0 auto;}
/* ========================= tablet 960px width ==============================*/
@media only screen and (min-width:769px) and (max-width:960px) {

header h2,.head2{
	position:absolute;
	left:98px;
	top:118px;
	line-height:normal;
	
}
.accessaid{                              /* ==== screen reader accessability aid ==== */
	position:absolute;
	left:-9999px;
}
.entry img{
	width:95%;
}

}

/* ========================= tablet 768px width ==============================*/
@media only screen and (min-width:481px) and (max-width:768px) {
	
body {
	width: 100%;
	margin: 0 auto;
	min-width: 500px;
	max-width: 768px;
}

header h2,.head2{
	position:absolute;
	left:80px;
	top:125px;
	line-height:normal;
	font-size:1em;
	
}
.accessaid{                              /* ==== screen reader accessability aid ==== */
	position:absolute;
	left:-9999px;
}
.banner h2{
	padding:10px 0 5px 10px;
	font-size:1.4em;
}
/**/nav ul#menu li{
	margin-right: 20.5px;
}
ul.submenu{left:0;line-height: 1.79em;}       /* always show submenu for tablet screen res */
/*li#howto:hover > ul,.submenu:hover{left:0;}*//* remove mouse hover effect */

li#howto a#special:hover , li#howto a#special:focus{
	cursor:pointer;
	color: rgb(219,126,64);
	text-decoration:underline;
}
.entry img{
	width:95%;
}	
fieldset#personal_info,fieldset#opinion{ 
	float:none;                      /* one column form */
	clear:both;
	width:100%;
}
}
/*================================== mobile 480px width ==================================*/
@media screen and (max-width: 480px) {
	
body {
	width: 100%;
	margin: 0 auto;
	min-width: 320px;
	max-width: 480px;
}	
header{
	height:50px;       /* ---- make header smaller on phones to leave more space for main content --------- */
}
header h1,.head1 a,.head1 a:hover,.head1 a:visited{
	padding-left: 95px;
	background: url(imgs/upc_logo.png) no-repeat left center;
	background-size:36px;
	line-height: 50px;
	padding-left:36px;
	font-size:2em;
	text-decoration:none;
}
.mobileinfo{
	visibility:visible;
	position:absolute;
	left:240px;
	top:38px;
	font-style:italic;
	font-size:.55em;
	color:rgb(255,255,255);
}
.accessaid{                              /* ==== screen reader accessability aid ==== */
	position:absolute;
	left:-9999px;
}
.banner{
	background:none;
}
.banner h2{
	padding:8px 0 0 10px;
	width:95%;
	font-size:1.2em;
	color:rgb(80, 85, 95);
}
.banner p{
	width:96%;
	margin-top:12px;
	height:340px;
	font-size:1em;
	background:none;
	color:rgb(80, 85, 95);
	/*background: rgba(123, 121, 143, .9);*/
}
nav ul#menu li{
	font-size:.95em;
	margin-right: 14.5px;
}
#advanced,#gamer{               /*    compact "select user" menu with absolute positioning   */
	position:absolute;          /*    parent - the nav bar   */
	left:71px;
}
#advanced{
	top:26px;
}
#gamer{
	top:52px;
}
ul.submenu{left:0;line-height: 1.79em;}  /* always show submenu on mobile screen */
/*li#howto:hover > ul,.submenu:hover{left:0;}*/       /* remove mouse hover effect */

.social a.fb{
	
	
	left:.05em;
	
}
.social a.tw{
	
	left:1.55em;
	
}
.social a.ln{
	
	left:2.95em;
	
}






.left{clear:right;width:97.5%;}
.left h1{font-size:1.2em;}          /*    1 column layout   */
.left h2,.right h2{font-size:1.1em;}
.left p{
	font-size:.9em;
}
.entry img{
	width:95%;
}


.right{width:97.5%;}
.right h3{font-size:.9em;}
.pc-config li{font-size:0.87em;}
.pc-config-lnk li a{font-size:0.85em;}
.leftm{
	float:left;
	width:60%;
}
.rightm{
	float:right;
	width:38%;
}
#howtoimgs ul li{
	float:left;
	width:50%;
}

										/* ====== forms =========*/
section#form_fields h1{                 /* ====== make forms title look exactly like the others on mobile =========*/
	font-size:1.2em;
	text-align:left;
}
section#form_fields h2{
	font-size:0.95em;
	text-align:left;
}
section#form_fields{
	overflow:hidden;
}
label{
	font-size:.90em;
}  
fieldset#personal_info,fieldset#opinion{      /* one column form */
	float:none;
	clear:both;
	width:100%;
	font-size:.95em;
}
	
}   
	
