#form {margin:0 auto;font-family:"Trebuchet MS", Verdana, sans-serif;width:42em;}
h2 {margin:0 0 0 0;padding:0;}
h3 {font-style:italic;}
#pic {position:relative;float:right;}
p {margin:0 0 1em 0;padding:0;font-size:90%;}
#important {color:red; font-style:italic; font-size: 80%;}
fieldset {background:#C361D2;border:none;margin-bottom:1em;width:41em;padding-top:1.5em;}

p.legend {background:#DED983;color:black;padding:.2em .3em;font-size:1.2em;border:2px outset #DED983;position:relative;margin-bottom:-1em;width:10em;margin-left:1em;margin-top:1em;}
#blue em{color:aqua;}
#pink em{color:pink; background:grey;}
#personal {background:#F3B4F5;border:outset #f3b4f5;}

#choices {background:#F5D9B4;border:outset #f5d9b4;}
#opinion {background:#B4F5DA;border:outset #b4f5da;}

#personal label {position:relative;font-size:90%;padding-top:.2em;left:.5em;}
#personal input {margin-left:9em;line-height:1.4em;margin-bottom:.2em;}

#age select{position:relative; right:-0.85em;}
select {margin-left:5em;margin-bottom:0;}

#choices label {position:relative;padding-top:.2em;left:.5em;}
#choices select {position:relative;margin-left:9em;margin-bottom:0;top:-1.5em;}
#choices select.right{position:relative;margin-left:34em;margin-bottom:0;top:-1.5em;}
#choices select.right2{position:relative;margin-left:41em;margin-bottom:0;top:-1.5em;}


#size {font-size:90%;}
#size input {margin-left:9em;}
#size input + input {margin-left:1em;}
#size br+ input {margin-left:9em;}

#extras {font-size:90%}
#extras input {margin-left:9em;}
#extras input +input {margin-left:1em;}
#extras br+input {margin-left:9em;}


textarea {font:.8em "Trebuchet MS", Verdana, sans-serif;width:31em;padding:.2em;}
#note {color:red;}
input[type="submit"], input[type="reset"] {background:#DED983;font:1.2em "Trebuchet MS", Verdana, sans-serif;}

#buttons {text-align:center;}